@import "src/App.scss";

article .content__bag {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #fff;
    right: 0px;
    top: 0px;
    width: 347px;
    height: 100%;
    z-index: 1;
    padding: 1% 2%;
    -webkit-box-shadow: -7px 5px 39px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 5px 39px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 5px 39px -10px rgba(0, 0, 0, 0.75);

    .bag__header {
        display: flex;
        border-bottom: 1px solid $cinza-claro;
        margin-bottom: 15px;

        p {
            font-weight: bold;
        }
        button {
            border: none;
            background: transparent;
            color: $preto;
            font-size: 20px;
            margin-right: 10px;
        }
        button:hover {
            color: $roxo;
        }
        button:focus {
            outline: none;
        }
    }
    .bag__content {
        .bag__content--not {
            display: flex;
            justify-content: center;
            color: $cinza;
        }
    }
    .bag__footer{
        position: fixed;
        bottom: 0px;

        .bag__content--title{
            font-weight: 500;
        }
    }
}
