@import "src/App.scss";

header {
    padding: 0 3%;
}

header .content__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header__logo{
        a{
            text-decoration: none;
            color: $preto;
        }
    }

    .header__buy{
        display: flex;
    }

    .header__buy .buy, .search{
        margin: 10px;

        button {
            color: $cinza;
            font-size: 20px;
            background: transparent;
            border: none;
        }

        button:hover {
            color: $roxo;
        }
        button:focus {
            outline: none;
        }
    }
}

@media screen and (max-width: 425px) {
    header .content__header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) {
    header .content__header .header__search .search {
        width: 500px;
    }
}
